body{
    padding: 0 2rem;
}
.input-group{
    margin: 1rem 0;
}
form{
    margin: 1.5rem 0 0 0;
}
form fieldset{
    width: 100%;
}
form input#age{
    width: 10%;
}
form input#email, form input#final_field{
    width: 45%;
}
form button[type="submit"]{
    margin: 1rem 0;
}